[themeStyle="black"] {
  .warningColor {
    color: rgb(247, 226, 132);
  }
  .okColor {
    color: rgb(97, 201, 97);
  }
  .errorColor {
    color: rgb(235, 152, 103);
  }
  .infoColor {
    color: rgb(123, 188, 231);
  }
  .fontColorNormal {
    color: white;
  }
  .backgroundColorNormal {
    background-color: black;
  }
  .tileBackGroundColorNormal {
    background-color: rgba(102, 65, 65, 0.39);
  }
  .tileBorderColor {
    border-color: white;
  }
}